<section id="everything-you-need">
    <div class="container" id="everything-you-need-content">
      <div class="row">
        <div class="col">
          <h1>Everything your POD shop needs!</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="card" data-aos="fade-up" data-aos-duration="1000">
            <img
              src="./img/shirt.png"
              style="width:40px;height:40px"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
                <h5 class="card-text">Variety of Apparel Mock Ups</h5>
              <p class="card-text">
                High quality apparel mock ups for all your POD shop needs
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card" data-aos="fade-up" data-aos-duration="1000">
            <img
              src="./img/ruler.png"
              style="width:40px;height:40px"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
                <h5 class="card-text">Intuitive interface</h5>
              <p class="card-text">
                Easy to use interface for creating and customizing your perfect Mockup
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card" data-aos="fade-up" data-aos-duration="1000">
            <img
              src="./img/sid-view.png"
              style="width:40px;height:40px"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
                <h5 class="card-text">Establish your brand</h5>
              <p class="card-text">
                Stand out from the competition and activate your brand
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container" id="backToTop">
        <button onclick='window.scrollTo({top: 0, behavior: "smooth"});' class="btn btn-primary">register now</button>
      </div>
</section>