<footer>
  <div id="footer-content">
    <div class="soc-media">
      <a href=""><i class="fab fa-instagram"></i></a>
      <a href=""><i class="fab fa-facebook"></i></a>
    </div>
    <div id="copyright"><p>copyright mockupmark</p></div>
  </div>
</footer>
