<head>
  <title><%= title %></title>
  <link
    href="https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap"
    rel="stylesheet"
  />
  <link rel="icon" type="image/png" href="/images/fav.png" />
  <link
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
    crossorigin="anonymous"
  />
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
