<div id="hero" class="jumbotron">
    <div class="row" id="hero-content">
      <div class="col-lg-7" id="hero-text">
        <h1>
          create <span>free</span> high quality marketing materials for your
          print on demand store
        </h1>
        <p>Enter your email address below to participate in our early access program</p>
        
        <div id="mc_embed_signup">
          <form action="https://janvandenenden.us19.list-manage.com/subscribe/post?u=ab0f52af9c1a45bd739b4a441&amp;id=b7de5338d9" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>   
            <div class="form-row">
              <div class="col-8">
                <div class="form-group">
                  <div id="mc_embed_signup_scroll">	
                    <div class="mc-field-group">
                      <input type="email" value="" name="EMAIL" class="required form-contro email" id="mce-EMAIL" placeholder="mark@example.com">
                    </div>
                  </div>
                <div id="mce-responses" class="clear">
                  <div class="response" id="mce-error-response" style="display:none"></div>
                  <div class="response" id="mce-success-response" style="display:none"></div>
                </div>    
            </div>
            </div>
            <div class="col-4">
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_ab0f52af9c1a45bd739b4a441_b7de5338d9" tabindex="-1" value=""></div>
                <button type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary">register</button>
              </div>
          </form>
        </div>
      </div>
      </div>
      <div class="col-lg-5" id="hero-image">
      </div>
    </div>
  </div>