<section id="why-use">
    <div id="why-use-content">
      <div class="container">
        <div class="row">
          <div class="col-lg-12" data-aos="fade-up">
            <div id="carousel-info" class="carousel slide" data-interval="9000" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="info-item d-block w-100">
                    <h1>Better images lead to more conversions</h1>
                    <p>
                      Our brains process images 60,000 times faster than text. Images are thus the first thing people ‘read’ on your landing page. Use images correctly in your marketing and sales and play to the brain’s strength. Your audience will grasp your message faster and more intuitively as it is in our nature to do so. Failing to visually demonstrate your offer will put you at a disadvantage with 65% of consumers.
                    </p>
                  </div> 
                  </div>                 
                <div class="carousel-item">
                  <div class="info-item d-block w-100">
                    <h1>A fool proof Mockup generator</h1>
                    <p>
                      Create T-shirt mock ups right in your browser, no extra software needed. MockupMark's fashionable apparel Mock ups are the perfect option to showcase your designs in a more realistic and relatable way. Use them on social media or your website to stand out from the competition. No need to break a sweat with these striking visual assets.
                    </p>
                  </div>
                </div>                 
                <div class="carousel-item">
                  <div class="info-item d-block w-100">
                    <h1>Better images lead to more conversions</h1>
                    <p>
                      Our brains process images 60,000 times faster than text. Images are thus the first thing people ‘read’ on your landing page. Use images correctly in your marketing and sales and play to the brain’s strength. Your audience will grasp your message faster and more intuitively as it is in our nature to do so. Failing to visually demonstrate your offer will put you at a disadvantage with 65% of consumers.
                    </p>
                  </div>                  
              </div>
              <a class="carousel-control-prev" href="#carousel-info" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carousel-info" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>