<!DOCTYPE html>
<html>
  <%- include('partials/head.ejs') %>
  <body>
    <div class="container">
      <h1><%= title %></h1>
      <div class="masonry-wrapper">
        <div class="masonry">
          <% images.forEach(image => { %>
          <div class="masonry-item">
            <img class="masonry-content" src="<%= image %>" />
          </div>
          <% }) %>
        </div>
      </div>
      <hr />
      <h3>Upload another design</h3>
      <%- include('partials/upload.ejs') %>
    </div>
  </body>
</html>
