<!DOCTYPE html>
<html>
  <%- include('partials/head.ejs') %>
  <body>
    <div class="container">
      <h1><%= title %></h1>
      <h2>Realistic apparel mockup generator</h2>
      <hr />
      <h3>Upload your design</h3>
      <%- include('partials/upload.ejs') %>
    </div>
  </body>
</html>
