@import "../variables.scss";

footer {
  background-color: $primary-color;
  color: #efefef;
  margin-top: 2em;
  padding: 0.5em 0;
  a {
    color: #efefef;
    &:hover {
      color: white;
    }
  }

  .container {
    .social-media {
      & > a {
        font-size: 2rem;
      }
    }
  }
}
